
<html>
<title>Todsatid Teerakapibal</title>

<body>
<h1> Todsatid Teerakapibal </h1>
<h1><img src="websiteprofile.JPG"> </h1>


<h2>Biography</h2>
<p> Hi my name is Todsatid Teerakapibal, but I prefer to go by Fourth Teerakapibal. I’m originally from Bangkok, Thailand. Currently, I’m a second year EECS student at UC Berkeley. My interest are in Machine Learning and Web Development. I enjoy playing the guitar and listening to music on my free time.

<h2> Course Work </h2>
<ul>
    <li> COMPSCI 61A: The Structure and Interpretation of Computer Programs</li>
    <li> COMPSCI 61B: Data Structures</li>
    <li> ELENG 16A: Designing Information Devices and Systems I</li>
    <li> ELENG 16B: Designing Information Devices and Systems II</li>
    <li> MATH 53: Multivariable Calculus</li>
    <li> MATH 54: Linear Algebra and Differential Equations</li>
    <li> PHYSICS 7A: Physics for Scientists and Engineers I</li>
    <li> PHYSICS 7B: Physics for Scientists and Engineers II</li>
    <li> COMPSCI 70: Discrete Mathematics and Probability Theory</li>
    <li> ELENG 127: Optimization Models in Engineering</li>
</ul>

<h2> Current Job</h2>
<ul>
   <li> Electrical Engineering and Computer Student at UC Berkeley</li> 
   <li> Research Assistant at Virtual Reality Lab UC Berkeley</li>
   <li> Senior Treasurer of UC Berkeley <a href="https://esc.berkeley.edu/">Engineering Student Council</a></li>
   <li> Software Development Intern at <a href="https://www.bitbrokerlabs.com/">Bitbroker Labs</a></li>
</ul>

<h2> Sample Work</h2>
<ul>
    <li> <a href="https://www.thecoinsumo.com/"> CoinSumo Landing Page</a></li>
    <li> <a href="https://ask.getvisavis.com/"> AskVisavis</a></li>
    <li> <a href="https://www.bitbrokerlabs.com/"> Bitbroker Labs</a></li>
    <li> <a href="https://github.com/FourthTee"> GitHub</a></li>
</ul>

<h2> Tutorials</h2>
<ul>
    <li> <a href="https://www.youtube.com/watch?v=fT4I3pIaJaE&t=12s">Linked Lists</a> </li>
</ul>

<h2> Resume </h2>
<p> Download <a href="resume.pdf" download="todsatidresume"> Here</a>

<h2> Contact</h2>
    <dd> Facebook: <a href="https://web.facebook.com/fourth.teerakapibal"> Fourth Teerakapibal</a>
    <dd> Email: <a href="mailto:todsatid@berkeley.edu">todsatid@berkeley.edu</a>
    <dd> (510) 365-9385

</body>
</html>
